bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/*.sln.DotSettings.user
/Banjo.CLI/Banjo.CLI.*.nupkg
.vs/

# typical working area for outputting sample data with the -out flag
/Banjo.CLI/SampleData/processedoutput
auth0exports/
/Banjo.CLI.IntegrationTests/TestDataOutput
CodeCoverage/
coverage.cobertura.xml